/* Universal */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #65085C;
    line-height: 1.2;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #65085C;
    line-height: 1.1;
}

h3 {
    font-size: 1.32rem;
    font-weight: 400;
    color: #65085C;
    line-height: 1.4;
}

h4 {
    font-size: 1.2rem;
    color: #080806;
    line-height: 1.4;
}

p {
    font-size: 1.15rem;
    line-height: 1.4;
    color: #080806;
}

h3 span {
    font-weight: 400;
}

a {
    color: #0472e7;
    text-decoration: none;
}

a:hover {
    color: #1895e8;
    cursor: pointer;
    text-decoration: underline;
}

i {
    font-style: italic;
}

.spacer {
    height: 1px;
    background: #69696F;
    opacity: 50%;
    border: none;
    width: 100%;
    margin: 0 auto;
}

.spacer-2 {
    display: block;
    margin: 0 auto;
    margin: 1rem 0rem;
    height: 1px;
    background: #69696F;
}

button {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: .5rem;
    background-color: #ECECEC;
    border: none;
    padding: 0.4rem .8rem;
    border-radius: 1.5rem;
    color: #302D2D;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #dcdbdb;
}

#contact-button {
    height: 2rem;
    margin-top: 0;
    padding: .25rem .6rem .25rem .4rem;
    color: #69696F;
    background-color: transparent;
    font-weight: normal;
}

.four-zero-four {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    padding: 16rem 2rem 18rem 2rem;
}

.four-zero-four h1 {
    font-size: 8rem;
    color: #688CA0;
}

@media only screen and (min-width: 1510px) {
    .spacer {
        max-width: 86rem;
    }
}

@media only screen and (max-width: 800px) {
    .four-zero-four {
        padding: 10rem 2rem 12rem 2rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.15rem;
    }

    .four-zero-four h1 {
        font-size: 5rem;
    }
}

/* Header */

#header,
#header2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
    z-index: 999;
    transition: box-shadow 0.1s ease-in-out;
}

.nav-pages {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    max-width: 100%;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header ul li a {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #69696F;
    text-decoration: none;
}

header ul li a:hover {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
    text-decoration: none;
}

.logo {
    width: 2.8rem;
}

.nav-links {
    display: flex;
    flex-flow: row;
    gap: 4rem;
}

#home a {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #080806;
    text-decoration: none;
}

.home a:hover {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
    text-decoration: none;
}

.contact-icons img {
    width: 1.3rem;
    padding: 0 .5rem;
}

.mobile-nav {
    display: none;
}

.mobile-nav img {
    width: 1.8rem;
    max-width: 100%;
}

#x-icon {
    display: none;
}

#burger-links {
    display: none;
    background-color: #FFFFFF;
    padding-bottom: 1rem;
}

.mobile-nav a {
    font-family: 'Outfit', sans-serif;
    color: #69696F;
    text-decoration: none;
    font-size: 1.1rem;
}

#burger-links a {
    font-family: 'Outfit', sans-serif;
    color: #69696F;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-align: left;
}

.mobile-nav li {
    list-style: none;
}

@media only screen and (min-width: 770px) {
    header {
        margin: 0 auto;
        width: 94rem;
    }
}

@media only screen and (max-width: 770px) {
    header {
        padding: 0 1rem;
    }

    #burger-links a {
        padding: 1.4rem 1rem;
    }

    header ul {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    #hamburger-icon {
        width: 2.2rem;
    }
}

/* Hero */

.hero {
    padding: 8rem 1rem 0 1rem;
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 30rem));
    gap: 4rem;
    justify-content: center;
}

.website-card-container {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: .75rem;
}

.website-card-screenshot {
    max-width: 100%;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid #e0e0e0;
}

.website-card-screenshot:hover {
    cursor: pointer;
    opacity: .9;
}

.website-card-bottom {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.website-card-bottom a:hover {
    cursor: pointer;
    text-decoration: none;
}

.person-category {
    font-size: 1rem;
    color: #69696F;
}

.hero-pfp {
    width: 4.5rem;
}

.web-channels {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.email-subscribe {
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    max-width: 32rem;
}

.email-subscribe-text {
    display: flex;
    flex-flow: column;
    gap: .3rem;
}

.email-subscribe p {
    font-size: 1rem;
    max-width: 32rem;
}

.formkit-form[data-uid="4dc2efc10b"] .formkit-fields {
    flex-wrap: nowrap;
    flex-flow: column;
}

.hero-articles-container {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    min-width: 44rem;
    max-width: 44rem;
}

.hero-articles-container p {
    color: #69696F;
}

.hero-articles-container .read-more a {
    display: inline-flex;
    flex-flow: row;
    gap: .5rem;
    justify-content: end;
    padding: 1rem 0 0 0;
}

.hero-articles {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    min-width: 44rem;
    max-width: 44rem;
}

.read-more {
    text-align: end;
}

.hero-articles-container .read-more a:hover {
    text-decoration: none;
    opacity: .8;
}

.read-more p {
    font-size: .8rem;
}

.hero .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (min-width: 770px) {
    .hero {
        gap: 2rem;
        margin: 0 auto;
        width: 94rem;
        padding: 8rem 1rem 0 1rem;
    }
}

@media only screen and (max-width: 770px) {
    .hero-bio {
        padding: 0;
    }

    .hero-left .email-subscribe {
        padding: 0;
    }

    .hero-left,
    .hero-right,
    .hero-articles,
    .hero-articles-container {
        width: 100%;
        min-width: auto;
        max-width: 100%;
    }

    .hero-right h4 {
        padding: 0;
    }

    .article-card {
        min-width: 0;
        padding: 1rem 0;
    }
}

/* Site Feature */

.site-feature {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding: 8rem 1rem 0 1rem;
}

.site-feature-card-container {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    max-width: 50rem;
}

.site-feature-card-screenshot {
    border-radius: .3rem;
}

/* About */

.about {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: 44rem;
    padding: 8rem 1rem 0 1rem;
}

.social-icons {
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
}

#copy-icon {
    width: 1.4rem;
    padding: 0 0 0 .6rem;
}

#checkmark-icon {
    display: none;
    width: 1.4rem;
    padding: 0 0 0 .6rem;
}

.copy-to-clipboard {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid #69696F;
    border-radius: 5px;
    z-index: 5;

}

.copy-to-clipboard:hover {
    cursor: pointer;
    opacity: .8;
}

.social-icons a:hover {
    opacity: .8;
}

.about .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (max-width: 800px) {
    .about {
        padding: 8.5rem 1rem 0 1rem;
    }
}

/* Footer */

footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    justify-content: center;
    padding: 8rem 1rem 1.5rem 1rem;
}

footer p {
    font-size: 1rem;
    color: #69696F;
}

/* 
The Veil

There’s something brewing in the air
You can almost touch it, taste it, feel it
At once familiar but long forgotten
The veil hath been pierced
It won’t be pretty
*/